*.pyc
.project
.pydevproject
.settings
*__pychache__/*
*.conf
*.state
*.pid
*.db3
*.db3-journal
pidfile
statefile
*.build
main.exe
rmpd
logs/*
tmp/*
.idea/
watchdogfile
wallpaper
rmpd-client-*.tar.gz
